{% extends "base_main.html" %}
{% load staticfiles %}

{% block contenu %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
    {% endfor %}
{% endif %}

<br>
<div class="container">
	<div class="row justify-content-center">
	  	<div class="card" style="width: 40rem;">
		    <div class="card-header">
			    <h3 class="card-title"><i class="far fa-compass fa-lg"></i> Itinéraire</h3>
		    </div>
		    <div class="card-body">
		        <div class="form-horizontal">
		        	<form role="voyage" method="post">
			            <div class="form-group" id="choix_depart_arrivee">
		            		{% csrf_token %} 
						    <input type="text" placeholder="Départ" id="search_depart">
						     <br>
						    <input type="text" placeholder="Arrivée" id="search_arrivee">
				        </div>
						<div class="vertical-line"></div>
						<span class="span_datetime">Aller</span>
						<br>
             			<input type="text" class="datetimepicker-input form-rounded" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" placeholder="Aller : dates et horaires" autocomplete="off"/>
    					<br><br>
    					<span class="span_datetime">Retour</span>
    					<br>
            			<input type="text" class="datetimepicker-input form-rounded" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="Retour : dates et horaires" autocomplete="off"/>		
						<br><br><br>
						<div style='text-align: center;'>
							<button type="submit" class="btn btn-primary btn-lg" name="recherche_voyage" id="bouton_recherche"><i class="fas fa-search"></i>  Rechercher</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table">
	  <tbody>
	  	{% for journey in contexte_voyage.main.journeys %}
	    	<tr class="ligne_voyage ligne_voyage_hover">
		      <th scope="row">{{journey.horaire_depart}}<br>{{journey.horaire_arrivee}}<p style="color:grey; font-size:80%;"> {{journey.temps_trajet}}</p></th>
		      <td>{{request.session.gare_depart}}<br>{{request.session.gare_arrivee}}{% if journey.nb_transfers == 0 %}<p style="color:grey; font-size:80%;">direct</p>{% endif %}</td>
			</tr>
			{% if journey.nb_transfers > 0 %}
				<tr style="display:none;" class="ligne_correspondance">
				  	<th>
				  		<div class="row">
							<div class="col-lg-7 mx-auto">
					  			<ul class="timeline">
							  		{% for correspondance in journey.links %}
							  				<li class="timeline-item bg-white rounded ml-3 p-4 shadow">
							  					<div class="timeline-arrow"></div>
							  					<h5>{{correspondance.depart_section}}
							  						<p style="font-size:90%;">{{correspondance.gare_depart_section}}</p>
							  					</h5>
							  					<h5>{{correspondance.arrivee_section}}
							  						<p style="font-size:90%;">{{correspondance.gare_arrivee_section}}</p>
							  					</h5>
							  					<p>{{correspondance.train}}<br>{{correspondance.type}} </p>
							  				<li>
									{% endfor %}
								</ul>
					  		</div>
				  		</div>
					</th>
				</tr>
			{% endif %}
		{% endfor %}
	  </tbody>
	</table>
</div>

<script>
	$(document).ready(function(){
  $(".ligne_voyage").click(function(){
    $(this).next(".ligne_correspondance").fadeToggle();
  });
});
</script>

{{request.session.date_depart}}<br>
{{request.session.date_retour}}<br>

{% for key in contexte_voyage.main.journeys %}
	Horaire souhaité : {{key.horaire_param}}<br>
	Départ : {{request.session.gare_depart}} : {{key.horaire_depart}}<br>
	Arrivée : {{request.session.gare_arrivee}} : {{key.horaire_arrivee}}<br>
	Type : {{key.type}}<br>
	{% if key.links != '{}' %}
	Correspondances :<br><br>
		{% for correspondance in key.links %}
			&nbsp&nbsp&nbsp&nbspCorrespondance heure départ : {{correspondance.depart_section}}<br>
			&nbsp&nbsp&nbsp&nbspCorrespondance heure arrivée : {{correspondance.arrivee_section}}<br>
			&nbsp&nbsp&nbsp&nbspGare départ correspondance : {{correspondance.gare_depart_section}}<br>
			&nbsp&nbsp&nbsp&nbspGare arrivée correspondance : {{correspondance.gare_arrivee_section}}<br>
			&nbsp&nbsp&nbsp&nbspTrain : {{correspondance.train}}<br>
			&nbsp&nbsp&nbsp&nbspType : {{correspondance.type}}<br>
			<br>
		{% endfor %}
	{% endif %}
{% endfor %}


<script type="text/javascript">
	var options = {
	url: "{% static 'json/gares.json' %}",

	getValue: "label",

	list: {
		match: {
			enabled: true
		}
	},

	theme: 'round'
};
$("input[id*=search_]").easyAutocomplete(options);

$(function () {
	$("#datetimepicker1").datetimepicker({
    format: 'YYYY/MM/DD HH:mm',
    date : moment()
	});
    $("#datetimepicker2").datetimepicker({
    format: 'YYYY/MM/DD HH:mm',
    date : moment()
	});
});

$("form").submit(function(){
	var params = [
					{name: 'gare_depart', value: $("input[id=search_depart]").val()},
					{name: 'gare_arrivee', value: $("input[id=search_arrivee]").val()},
					{name: 'date_depart', value: $("input[id=datetimepicker1]").val()},
					{name: 'date_retour', value: $("input[id=datetimepicker2]").val()},
				 ];

	$(this).append($.map(params, function (param) {
        return   $('<input>', {
            type: 'hidden',
            name: param.name,
            value: param.value
        })
    }));

	$("body").css("cursor", "wait");
	});

</script>


{% endblock %}
