{% extends "base_main.html" %}
{% load staticfiles %}

{% block contenu %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message|safe }}</div>
    {% endfor %}
{% endif %}

<br>
<div class="container">
	<div class="row justify-content-center">
	  	<div class="card" style="width: 40rem;">
		    <div class="card-header">
			    <h3 class="card-title"><i class="far fa-compass fa-lg"></i> Itinéraire</h3>
		    </div>
		    <div class="card-body">
		        <div class="form-horizontal">
		        	<form role="voyage" method="post">
			            <div class="form-group" id="choix_depart_arrivee">
		            		{% csrf_token %} 
						    <input type="text" placeholder="Départ" id="search_depart">
						     <br>
						    <input type="text" placeholder="Arrivée" id="search_arrivee">
				        </div>
						<div class="vertical-line"></div>
						<span class="span_datetime">Aller</span>
						<br>
             			<input type="text" class="datetimepicker-input form-rounded" id="datetimepicker1" data-toggle="datetimepicker" data-target="#datetimepicker1" placeholder="Aller : dates et horaires" />
    					<br><br>
    					<span class="span_datetime">Retour</span>
    					<br>
            			<input type="text" class="datetimepicker-input form-rounded" id="datetimepicker2" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="Retour : dates et horaires" />		
						<br><br><br>
						<div style='text-align: center;'>
							<button type="submit" class="btn btn-primary btn-lg" name="recherche_voyage" id="bouton_recherche"><i class="fas fa-search"></i>  Rechercher</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
{% for gare in contexte_gares.items %}
	{% for element in gare %}
		{{element.id}}<br>
	{% endfor %}
{% endfor %}-->



<script type="text/javascript">
	var options = {
	url: "{% static 'json/gares.json' %}",

	getValue: "label",

	list: {
		match: {
			enabled: true
		}
	},

	theme: 'round'
};
$("input[id*=search_]").easyAutocomplete(options);

$(function () {
	$("#datetimepicker1").datetimepicker();
    $("#datetimepicker2").datetimepicker();
  });

$("form").submit(function(){
	var params = [
					{name: 'gare_depart', value: $("input[id=search_depart]").val()},
					{name: 'gare_arrivee', value: $("input[id=search_arrivee]").val()},
					{name: 'date_depart', value: $("input[id=datetimepicker1]").val()},
					{name: 'date_retour', value: $("input[id=datetimepicker2]").val()},
				 ];

	$(this).append($.map(params, function (param) {
        return   $('<input>', {
            type: 'hidden',
            name: param.name,
            value: param.value
        })
    }));

	$("body").css("cursor", "wait");
	});
</script>


{% endblock %}
